.admin {
    padding: 20px;
    font-family: Jost, serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeInBottom 0.7s ease-in-out forwards;
}

.add-product, .orders {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: fit-content;
    background: #fff8f8;
    border-radius: 15px;
    animation: fadeInBottom 0.4s ease-in-out forwards;

}
.orders{
    width: 100%;
}
h1, h2 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.error {
    color: red;
    font-size: 14px;
}

.orders ul {
    list-style: none;
    padding: 0;
}

.orders li {
    margin-bottom: 15px;
}
