
.all-products1 {
    letter-spacing: -0.02em;
    color: #6b0000;
    padding: 30px;

}


.hero-cta1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.label {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
