

.best-sellers1 {
    font-weight: 800;
    font-size: 30px;
    line-height: 110%;
    margin: 30px;
    color: #6b0000;


}

@media screen and (max-width: 750px) {
    .best-sellers1 {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 450px) {
    .best-sellers1 {
        font-size: 24px;
        line-height: 26px;
    }
}