
.cart {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    animation: fadeInBottom 0.7s ease-in-out forwards;


}
.cart *:focus {
    outline: #acafa2 1px solid ;
}
.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;

}

.cart h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: Jost;

}

.cart-total {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: Jost;

}
.items-in-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px;
}
.client-info-form{
    padding: 30px;
    background-color: #fff3f3;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-family: Jost, serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}
.form-group {
    margin-bottom: 15px;
    width: 70%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.fields{
    width: 100%;
    padding: 8px;
    border-radius: 15px;
}
.error-container {
    height: 20px;

}
.input-error {
    border: 1px solid red !important;
    outline: none;
}

.error-message {
    color: red;
    font-size: 16px;

}
