
.cart {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInBottom 0.7s ease-in-out forwards;
}


.cart h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: Jost;

}

.cart-total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    font-family: Jost;

}
.items-in-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.client-info-form{
    padding: 30px;
    background-color: #ffecec;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-family: Jost, serif;

}
.form-group {
    margin-bottom: 15px;
    width: 70%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}