
.navigation-footer {
    background-color: #ffecec;
    border-radius: 50px 50px 0 0;
    max-width: 100%;
    text-align: center;
    font-size: 40px;

}
@media screen and (max-width: 1050px) {
    .tutti-frutti2 {
        font-size: 40px;
        line-height: 43px;
    }
}
@media screen and (max-width: 750px) {
    .navigation-footer {
        gap: 23px;
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
    }
}
