.new-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1261px;
    padding: 20px;
    font-family: Jost;
    color: #000;
}

.new-on-the {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
    .new-on-the {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 450px) {
    .new-on-the {
        font-size: 24px;
        line-height: 26px;
    }
}