.shop1 {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
}

.shop-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background: #fff8f8;
    border-radius: 15px;
    text-align: center;
    font-size: 64px;
    margin: 20px 0 20px 0;
    color: #000;
    font-family: Jost, serif;
    min-height: 500px;
    height: fit-content;
}

.shop-section-all {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    background: #fff8f8;
    border-radius: 15px;
    text-align: center;
    font-size: 64px;
    color: #000;
    font-family: Jost, serif;
    height: fit-content;
    min-height: 500px;
    margin: 20px 0 20px 0;
    padding: 20px;
}

.hero-cta {
    position: absolute;
    top: 241px;
    left: 645px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.shop {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 64px;
    color: #000;
    font-family: 'Jost', sans-serif;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInBottom 0.7s ease-in-out forwards;
}

.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 60px;
    overflow: hidden;
}

.carousel .carousel-slide .product-card {
    flex: 0 0 auto;
    width: calc(25% - 20px);
}
.carousel .control-arrow {
    opacity: 1;
    background-color: #b60000;
    color: #b60000;
    border: none;

    font-size: 1.5em;
    padding: 0.2em;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s, color 0.3s;
}

.carousel .control-arrow:before {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

}

.carousel .control-prev.control-arrow {
    left: 10px;
}

.carousel .control-prev.control-arrow:before {
    border-right: 10px solid  #b60000;
}


.carousel .control-next.control-arrow {
    right: 10px;
}

.carousel .control-next.control-arrow:before {
    border-left: 10px solid  #b60000;
}


@media screen and (max-width: 1200px) {
    .carousel-slide {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .carousel-slide > * {
        flex: 0 0 calc(25% - 20px);
        margin: 10px;
    }
    .carousel-slide .product-card {
        width: calc(33.333% - 20px);
    }
}

@media screen and (max-width: 750px) {
    .shop1 {
        font-size: 51px;
    }
    .carousel-slide > * {
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }
    .carousel-slide .product-card {
        width: calc(50% - 20px); /* Adjust for smaller screens if needed */
    }
}

@media screen and (max-width: 450px) {
    .shop1 {
        font-size: 38px;
    }
    .carousel-slide > * {
        flex: 0 0 calc(100% - 20px);
        margin: 10px;
    }
    .carousel-slide .product-card {
        width: calc(100% - 20px); /* Full-width cards for very small screens */
    }
}
